.deps
.libs
*.la
*.lo
*.o
*.pyc
Makefile
Makefile.in

pkg/

bin
obj
.*.swp
*~
/*.kdev4
/.cproject
/.project
/.settings
/nbproject

/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
.dirstamp
node_test/

/build/
.idea/
cmake-build-debug/
cmake-build-release/

CMakeSettings.json


.vscode/

test_package/
.DS_Store
CMakeUserPresets.json
